<div class="container">
  <div class="row">
    <h5 class="text-center mb-5">投稿一覧</h5>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-10 table-responsive-md">
      <%= render 'admin/teas/teas', teas: @teas %>
    </div>
  </div>
  
  <div class="row"> 
    <div class="d-flex justify-content-center mb-5">
      <% if @teas %>
      <%= paginate @teas, theme: 'bootstrap-5' %>
      <% end %>
    </div>
  </div> 

</div>
