.body--extend{
  background-color: #fafafa;
}

.main-visual{
  height: 500px;
  width: auto;
  background-image: image-url("main.JPG");
  background-size: cover;
  background-position: center;
}

.main-visual-content{
  width: 60%; 
  height: 500px; /* 親の高さに揃える */
  background-color: rgba(0, 0, 0, 0.5); 
  text-align: center; /* 文字を中央揃えにする */
  padding-top: 105px; /* 上側の内側余白で垂直方向の位置を調整 */
  color: #fff; /* 文字色を白に変更 */

}

.login-container{
  position: relative;
  width: 300px;
  margin: 40px auto;
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
}


.login-container::before,.login-container::after{
  content: "";
  position: absolute;
  width: 100%;height: 100%;
  top: 3.5px;left: 0;
  background: #fff;
  z-index: -1;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  border: 1px solid #ccc;
}


.avatar{
  width: 100px;height: 100px;
  margin: 10px auto 30px;
  border-radius: 100%;
  border: 2px solid #aaa;
  background-size: cover;
  background-image: image-url("login-image.png");
}

.form-group label{
  margin: 1.5px 0px;
}

.card-w{
  width: 30%;
}


.w-15{
  width: 15%;
}

.w-80{
  width: 80%;
}
.w-100{
  width: 100%;
}

.tea-image-w{
  height: 200px;
  max-width: 90%;
  object-fit: cover;
}
/*レスポンシブデザイン*/

/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {
 .card-w{
   width: 40%;
 } 
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .main-visual-content {
    width: 100%;
  }
  
  .thead-light{
    display: none;
  }
  
  .card-w{
   width: 48%;
  } 
  
  .tea-image-w{
  height: 200px;
  max-width: 100%;
  object-fit: cover;
  }
}

/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
 .card-w{
   width: 90%;
 } 
}