/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header-bg-color--extend{
  /*background-color: #98c97b;*/
}

.body-extend{
  /*background-color: #98c97b;*/
}

.main-visual{
  height: 500px;
  width: auto;
  background-image: url(main.JPG);
  background-size: cover;
  background-position: center;
}

.main-visual-content{
  width: 60%; 
  height: 500px; /* 親の高さに揃える */
  background-color: rgba(0, 0, 0, 0.5); 
  text-align: center; /* 文字を中央揃えにする */
  padding-top: 105px; /* 上側の内側余白で垂直方向の位置を調整 */
  color: #fff; /* 文字色を白に変更 */

}

.login-container{
    position: relative;
    width: 300px;
    margin: 40px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;
}


.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
    background-image: url(treacha_hunter.jpg);
}

.form-group label{
    margin: 1.5px 0px;
}

/*レスポンシブデザイン　タブレットサイズ以下*/

@media screen and (max-width: 768px) {
  .main-visual-content {
    width: 100%;
  }
}