// アプリ全体の背景色設定
.body--extend{
  background-color: #fafafa;
}

// アバウトページの画像設定
.main-visual{
  height: 500px;
  width: auto;
  background-image: image-url("main.JPG");
  background-size: cover;
  background-position: center;
}

// アバウトページの画像上の文字設定
.main-visual-content{
  width: 60%; 
  height: 500px; /* 親の高さに揃える */
  background-color: rgba(0, 0, 0, 0.5); 
  text-align: center; /* 文字を中央揃えにする */
  padding-top: 105px; /* 上側の内側余白で垂直方向の位置を調整 */
  color: #fff; /* 文字色を白に変更 */

}

// ここから／／ログイン／新規登録のレイアウト設定
.login-container{
  position: relative;
  width: 300px;
  margin: 40px auto;
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
}

.login-container::before,.login-container::after{
  content: "";
  position: absolute;
  width: 100%; height: 100%;
  top: 3.5px; left: 0;
  background: #fff;
  z-index: -1;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  border: 1px solid #ccc;
}

.avatar{
  width: 100px; height: 100px;
  margin: 10px auto 30px;
  border-radius: 100%;
  border: 2px solid #aaa;
  background-size: cover;
  background-image: image-url("login-image.png");
}

.form-group label{
  margin: 1.5px 0px;
}

// ここまで／／ログイン／新規登録のレイアウト設定

// トップページの1つの投稿に対する表示幅を指定
.card-w{
  width: 30%;
}

// トップページのプロフィール画像サイズ設定
.w-80{
  width: 80%;
}
.w-100{
  width: 100%;
}

// showページ投稿画像の大きさを要素幅に対する％で指定
.tea-image-w{
  height: 200px;
  max-width: 90%;
  object-fit: cover;
}

// 画像サイズをトリミングしてアスペクト比は固定(_tea_card)
.card-link{
  height: 200px;
  object-fit: cover;
}

// 画像サイズをトリミングしてアスペクト比は固定(_tea)
.img-size{
  height: 180px;
  width: 260px;
  object-fit: cover;
}

// 都道府県リストパディング削除
ul.prefecture-list{
  padding: 0;
}

// 都道府県リストを短い高さで表示し先頭の・を削除
ul.prefecture-list li{
  list-style: none;
  display: inline-block;
  
}

// ページネーションの色指定
.pagination a{
  color: #606060;
}

.pagination a:hover{
  color: #606060;
}

.pagination .active .page-link{
  background-color: #909090;
  border-color: #909090;
}

// _favoriteのいいねボタンの設定
.btn-extend{
  padding: 0;

}

// 画像プレビュー
.img-print {
  height: 90px;
  width: 130px;
  object-fit: cover;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
}

/*ここからレスポンシブデザインの設定*/

/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {
 .card-w{
   width: 40%;
 } 
 
 .show-title{
    display: none;
  }
  
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .main-visual-content {
    width: 100%;
  }
  
  .thead-light{
    display: none;
  }
  
  .card-w{
   width: 48%;
  } 
  
  .tea-image-w{
  height: 200px;
  max-width: 100%;
  object-fit: cover;
  }
}

/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
 .card-w{
   width: 90%;
 } 
}