<div class="container">
  
  <div class="row ">
    <h5 class="text-center mb-5"><%= @user.name %>さんのページ</h5>
  </div>
  <div class="row justify-content-center">

    <div class="col-lg-3 col-10">
      <%= render "public/users/info", user: @user %>
    </div>
    
    <div class="col-lg-9 col-10">
      <%= render "public/teas/teas", teas: @teas %>
        
      <div class="row justify-content-center"> 
        <div class="col-10 mb-5">
          <% if @teas %> 
          <%= paginate @teas %>
          <% end %> 
        </div>
      </div>
        
    </div>
      
  </div>

</div>
