<!--バリデーションエラーのテンプレート-->
<% if obj.errors.any? %>
<div class="row justify-content-center" >
  <div id="error_explanation" class="col-10">
    <h4>
      <%= obj.errors.count %>件のエラーが発生しました。
    </h4>

    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>